{% extends 'pizza/base.html' %}

{% block content %}

    {% load widget_tweaks %}

    <div class="container px-4">
        <h1>Order Pizzas</h1>
    </div>
    <form action="{% url 'multi_pizzas' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="container px-4">
                <h3>Pizza {{ forloop.counter }}</h3>
            </div>
            {% include 'pizza/order_form.html' %}
        {% endfor %}

        <button type="submit">Order Pizzas</button>
    </form>

    {% if note %}
        <p>{{ note }}</p>
    {% endif %}

{% endblock %}
