{% extends 'pizza/base.html' %}

{% block content %}

    {% load widget_tweaks %}

    <div class="container py-4 px-2">
        <h1>Order a Pizza</h1>
    </div>

    {% include 'pizza/order_form.html' %}

    <div class="container py-4 px-2">
        <h2>Want to order more than one pizza?</h2>
    </div>

    <div class="container px-4">
        <form action="{% url 'multi_pizzas' %}" method='get'>
            <div class="form-control">
                <div class="row g-5">
                    <div class="col-md-2">
                        {% for field in multiple_form %}
                            {{ field.label_tag }}
                            {% render_field field class="input-group mb-3" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-secondary" mb-3
                        "">Order More Than One Pizza</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
